<?xml version="1.0" encoding="utf-8" ?>
<!--<configuration>
</configuration>-->
<configuration>
  <connectionStrings>
    <add name="ConString" connectionString="Data Source=175.107.240.218,1433;Initial Catalog=PUKS;User ID=sa;Password=Lsserp1"
           providerName="System.Data.SqlClient"/>  
  </connectionStrings>
  <appSettings>    
    <add key="servername" value="175.107.240.218,1433"></add>
    <add key="dbname" value="PUKS"></add>
    <add key="username" value="sa"></add>
    <add key="password" value="Lsserp1"></add> 
  </appSettings>
</configuration>